{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Support" %}{% endblock %}

{% block main %}
  <div class="row">
    <div class="{% block column_classes %}col-md-offset-3 col-md-6{% endblock %}">
      <h1>{% trans "Support" %}</h1>
      {% if success %}
        {% include "contact_form/contact_form_success.html" %}
      {% endif %}
      <form method="post" action=".">
        {% include "django_libs/partials/form.html" %}
        <input class="btn btn-success" type="submit" value="{{ form.submit_button_value }}" />
      </form>
    </div>
  </div>
{% endblock %}
