{% extends "base.html" %}

{% block main %}
  <div class="row">
    <div class="{% block column_classes %}col-md-offset-3 col-md-6{% endblock %}">
      {% block content %}{% endblock %}
    </div>
  </div>
{% endblock %}
