{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "My projects" %}{% endblock %}

{% block main %}
  <div class="page-header">
    <h1>{% trans "My projects" %}</h1>
    <div class="row">
      <div class="col-sm-6">
        <h3>{% trans "Projects I own" %}</h3>
        {% if request.user.projects.all %}
          <table class="table">
            <thead>
              <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Deadline" %}</th>
                <th>{% trans "Purpose" %}</th>
              </tr>
            </thead>
            {% for project in request.user.projects.all %}
              <tr>
                <td><a href="{% url "project_detail" pk=project.pk %}">{{ project.name }}</a></td>
                <td>{{ project.get_type_display }}</td>
                <td>{{ project.deadline|date }}</td>
                <td>{{ project.get_purpose_display }}</td>
              </tr>
            {% endfor %}
          </table>
        {% else %}
          <p>{% trans "You haven't started any projects, yet." %}</p>
          <a href="{% url "project_create" %}" class="btn btn-default">{% trans "Try it" %}</a>
        {% endif %}
      </div>
      <div class="col-sm-6">
        <h3>{% trans "Projects I contributed to" %}</h3>
        {% if request.user.projects_contributed.all %}
          <table class="table">
            <thead>
              <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Deadline" %}</th>
                <th>{% trans "Purpose" %}</th>
              </tr>
            </thead>
            {% for project in request.user.projects_contributed.all %}
              <tr>
                <td><a href="{% url "project_detail" pk=project.pk %}">{{ project.name }}</a></td>
                <td>{{ project.get_type_display }}</td>
                <td>{{ project.deadline|date }}</td>
                <td>{{ project.get_purpose_display }}</td>
              </tr>
            {% endfor %}
          </table>
        {% else %}
          <p>{% trans "You haven't contributed to any projects, yet." %}</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
