{% extends "email/base.html" %}
{% load i18n annotate_tags %}

{% block headline %}{% trans "You've been invited to annotate" %}{% endblock %}

{% block content %}
  {% get_email_styles as email_styles %}
  {% get_user_name invitation.project.owner as owner %}
  {% if invitation.first_name %}
    <p>{% blocktrans with first_name=invitation.first_name %}Dear {{ first_name }},{% endblocktrans %}</p>
  {% else %}
    <p>{% blocktrans %}Hi,{% endblocktrans %}</p>
  {% endif %}
  <p>{% blocktrans with name=owner project=invitation.project.name %}<em>{{ name }}</em> needs your help to label <em>{{ project }}</em>.{% endblocktrans %}</p>
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td>
        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;border:4px solid {{ email_styles.color }};border-radius:4px;background-color:{{ email_styles.color }}; margin-top: 20px; margin-right: 20px;">
          <tbody>
          <tr>
            <td align="center" valign="middle" style="{{ email_styles.font_family }}font-size:14px;padding:10px">
              <a title="{% trans "Accept" %}" href="{{ protocol }}{{ domain }}{% url "invitation_accept" pk=invitation.pk %}?email={{ invitation.email }}" style="font-weight:normal;letter-spacing:1px;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;display:block" target="_blank">{% trans "Accept" %}</a>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;border:4px solid #d9534f;border-radius:4px;background-color:#d9534f; margin-top: 20px;">
          <tbody>
          <tr>
            <td align="center" valign="middle" style="{{ email_styles.font_family }}font-size:14px;padding:10px">
              <a title="{% trans "Decline" %}" href="{{ protocol }}{{ domain }}{% url "invitation_decline" pk=invitation.pk %}?email={{ invitation.email }}" style="font-weight:normal;letter-spacing:1px;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;display:block" target="_blank">{% trans "Decline" %}</a>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
{% endblock %}
