{% extends "base.html" %}
{% load i18n %}

{% block main %}
  <div class="jumbotron">
    <h1>{% trans "Labelled data, man-made" %}</h1>
    <p>{% trans "Annotate is your super-easy crowdsourcing platform, which helps you to get your data reviewed, analyzed and labelled" %}.</p>
    {% if not request.user.is_authenticated %}
      <a class="btn btn-primary btn-lg" style="margin-right: 5px;" href="{% url "account_signup" %}?next={% url "project_create" %}" role="button">{% trans "Create project" %}</a>
      <a class="btn btn-default btn-lg" href="{% url "account_signup" %}" role="button">{% trans "Work as a labeller" %}</a>
    {% endif %}
  </div>
{% endblock %}
