{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Why Ann?" %}{% endblock %}

{% block main %}
  <div class="page-header">
    <h1>{% trans "Why Ann?" %}</h1>
  </div>
  <p>{% trans "Stand by for more information..." %}</p>
{% endblock %}
