/* Useful styles that we need in almost every project */
.checkbox {
    ul {
        .list-unstyled;
        label {
            position: relative;
            input[type="radio"], input[type="checkbox"] {
                margin-left: -20px;
                position: absolute;
                top: -2px;
            }
        }
        li {
            margin-bottom: 10px;
        }
    }
}

.errorlist {
    .alert;
    .alert-danger;
    list-style: none;
}

img {
    max-width: 100%;
}

.spinner-wrapper {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    z-index: 9999;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    min-height: 100%;
    min-width: 100%;
}

textarea {
    min-height: 80px;
}

// see http://stackoverflow.com/a/10568318
.navbar-center .nav,
.navbar-center .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.navbar-center .navbar-inner {
    text-align:center;
}
