{% load static i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>annotate</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0; background-color: #fafafa;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td style="padding: 10px 30px 10px 30px;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
					<tr>
						<td style="color: #999999; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px;" width="75%">
							annotate - {% trans "Labelled data, man-made" %}
						</td>
						<td align="right" style="color: #999999; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px;" width="25%">
							<a style="color: #999999;" href="mailto:info@{{ domain }}" target="_blank"><font color="#999999">info@{{ domain }}</font></a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 10px 0 30px 0;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #eeeeee; border-collapse: collapse;">
					<tr>
						<td align="center" bgcolor="#555555" style="padding: 40px 0 30px 0; color: #ffffff; font-size: 28px; font-weight: bold; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
							<img src="{{ protocol }}{{ domain }}{% static "img/logo.png" %}" alt="annotate" width="auto" height="auto" style="display: block;" />
						</td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td style="color: #333333; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; border-bottom: 1px solid #eeeeee; border-collapse: collapse;">
										<b>{% block headline %}{% endblock %}</b>
									</td>
								</tr>
								<tr>
									<td style="padding: 20px 0 30px 0; color: #333333; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px;">
										{% block content %}{% endblock %}
										<h3><em>– annotate</em></h3>
										{% trans "Labelled data, man-made" %}  @ <a style="color: #234515;" href="{{ protocol }}{{ domain }}"><font color="#234515">{{ domain }}</font></a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td bgcolor="#555555" style="padding: 30px 30px 30px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td style="color: #ffffff; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px;" width="75%">
										&copy; {% now "Y" %} <a style="color: #ffffff;" href="{{ protocol }}{{ domain }}"><font color="#ffffff">annotate</font></a>
									</td>
									<td align="right" style="color: #ffffff; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px;" width="25%">
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
