@black: #000;
@white: #fff;

@brand-primary: #2BADCA;
@font-size-base: 14px;
@navbar-height: 70px;
@navbar-inverse-bg: @gray;
@navbar-inverse-color: lighten(@gray-light, 40%);
@navbar-inverse-link-color: @navbar-inverse-color;
