@import "partials/fonts.less";
@import "partials/common.less";

.affix {
    top: 5px;
}

.alert-error {
    .alert-danger;
    .errorlist {
        border: none;
        display: inline;
        margin: 0;
        padding: 0;
        li {
            display: inherit;
        }
    }
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        -ms-filter: 'alpha(opacity=0)';
        font-size: 200px !important;
        direction: ltr;
        cursor: pointer;
    }
}

label {
    display: block;
}

.label-colour {
    width: 15px;
    height: 15px;
    margin-top: 2px;
    margin-right: 5px;
    z-index: 10;
    float: left;
}
.label-colour.label-colour-form {
    position: absolute;
    left: -7px;
    top: 7px;
}

.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-inverse {
    .navbar-nav {
        > li, > li.active {
            > a.btn {
                color: @brand-primary;
                margin-left: 10px;
                background-color: @white;
                &:hover,
                &:focus,
                &.focus {
                    background-color: @gray-lighter;
                }
            }
        }
    }
}

#scope {
    margin-top: 20px;
    .arrow{
        stroke-width: 1.5px;
        fill: none;
        stroke-linejoin: round;
        pointer-events:all;
        cursor: pointer;
        cursor:  url('/static/img/remove.png') -20 -20, pointer;
    }
    text {
        cursor: default;
    }
    .rich-token {
        cursor: pointer !important;
        position: relative;
        display: inline-block;
        line-height: 22px;
        border-bottom: 1px dashed #bbb;
        padding: 0 4px;
        -webkit-transition: background .5s; /* For Safari 3.1 to 6.0 */
        transition: background .5s;
        z-index: 200;
        border-radius: 7px;
        .multiple-marker{
            position: absolute;
            top: -20px;
            right: 3px;
            font-size: 10px;
            color: #691FD8;
        }
    }
    .rich-token.selected{
        border-bottom: 2px solid #666 !important;
    }
    .rich-token.highlight{
        color: #f00;
        background: rgba(255, 182, 0, 0.17);
    }
    .rich-token.selectable,
    .rich-token.hover,
    .rich-token:hover{
        background: rgba(255, 182, 0, 0.17);
    }
    .sentence {
        padding: 20px 5px;
        position: relative;
        line-height: 57px;
        margin: 5px 0;
    }
    .sentence.even{
        background-color: rgba(0, 0, 0, .05);
    }
    svg{
        position: absolute;
        z-index: 10;
        margin-top: -30px;
        width: 100%;
        height: 100%;
    }
}
