{% extends "projects/project_detail.html" %}
{% load i18n annotate_tags libs_tags %}

{% block head_title %}{% blocktrans with name=object.get_name %}Labelling {{ name }}{% endblocktrans %}{% endblock %}

{% block top %}
  {% if request.user != object.project.owner %}
    <small>{% blocktrans with owner=object.project.owner name=object.get_name type=object.project.get_type_display %}Helping {{ owner }} with {{ name }} on {{ type }}{% endblocktrans %}</small>
  {% endif %}
{% endblock %}

{% block left %}
  {% csrf_token %}
  {% if object.project.labels.all %}
    <h4>{% trans "Select a label" %}</h4>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="label-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <div class="label-colour" style="background: {{ object.project.labels.all.0.colour }};"></div>{{ object.project.labels.all.0.name }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="label-dropdown" style="height:250px;overflow:auto;">
        {% for label in object.project.labels.all %}
          <li {% if forloop.first %}class="disabled"{% endif %}><a href="#" data-label-pk="{{ label.pk }}" data-class="change-label"><div class="label-colour" style="background: {{ label.colour }}"></div>{{ label.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% get_user_name object.project.owner as owner %}
  <h2 style="margin-top: 0;">{% blocktrans with owner=owner name=object.get_name type=object.project.get_type_display %}Labelling {{ name }}{% endblocktrans %}  <small><a href="{% url "project_detail" pk=object.project.pk %}">{% trans "back" %}</a></small></h2>
  {% if object.project.labels.all %}
    <div data-id="scope" id="scope">
      {% if sentences %}
        <svg xmlns="http://www.w3.org/2000/svg">
            <defs>
                {% for label in object.project.labels.all %}
                  <marker id="arrow-point-{{ label.pk }}" style="fill: {{ label.colour }};" markerWidth="10" markerHeight="10" refx="3" refy="6" orient="auto" class="arrow-point{% if forloop.first %} selected{% endif %}" data-name="{{ label.name }}" data-create-url="{% url "annotation_create" file_pk=object.pk label_pk=label.pk %}">
                      <path d="M2,1 L2,10 L10,6 L2,2" />
                  </marker>
                {% endfor %}
            </defs>
        </svg>
        <div class="sentences">
          {% for sentence in sentences %}
            {% set_context forloop.counter as sentence_counter %}
            <div class="sentence {% cycle 'odd' 'even' %} sentence-id-{{ sentence_counter }}" data-sentence-id="{{ sentence_counter }}" data-annotations="{{ sentence.annotations }}">
              {% for word in sentence.tokens %}
                <div class="rich-token rich-token-{{ sentence_counter }}-{{ forloop.counter }} eo-S{{ sentence_counter }}T{{ forloop.counter }}" data-id="S{{ sentence_counter }}T{{ forloop.counter }}" data-class="word" data-position="{{ forloop.counter }}">
                  <span class="token">{{ word }}</span>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% else %}
    <em>{% trans "The project owner hasn't added any labels yet." %}</em>
  {% endif %}
{% endblock %}
