{% extends "projects/project_detail.html" %}
{% load i18n libs_tags project_tags %}

{% block head_title %}{% blocktrans with name=project.name %}Invitations for {{ name }}{% endblocktrans %}{% endblock %}

{% block content %}
  <div style="margin-top: 0;" class="page-header">
    <h2 style="margin-top: 0;">{% trans "Invite labellers" %}</h2>
  </div>
  <form method="post" action=".">
    {% include "django_libs/partials/form.html" %}
    <div style="margin-top: 10px;">
      <input class="btn btn-success" type="submit" value="{% trans "Send invitation" %}" />
    </div>
  </form>
  {% if project.invitations.all %}
    <table class="table" style="margin-top: 30px;">
      <thead>
        <tr>
          <th>{% trans "Email" %}</th>
          <th>{% trans "First name" %}</th>
          <th>{% trans "Last name" %}</th>
          <th>{% trans "Registered" %}</th>
          <th>{% trans "Status" %}</th>
        </tr>
      </thead>
      {% for invitation in project.invitations.all %}
        <tr>
          <td>{{ invitation.email }}</td>
          <td>{{ invitation.first_name }}</td>
          <td>{{ invitation.last_name }}</td>
          <td><span class="glyphicon glyphicon-{% if invitation.user %}ok{% else %}remove{% endif %}"></span></td>
          <td class="text-{% if invitation.status == 'accepted' %}success{% elif invitation.status == 'declined' %}danger{% endif %}">{{ invitation.get_status_display }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}
