{% extends "base.html" %}
{% load i18n libs_tags project_tags %}

{% block head_title %}{% trans "My invitations" %}{% endblock %}

{% block main %}
  <div class="page-header">
    <h1>{% trans "My invitations" %}</h1>
  </div>
  {% if object_list %}
    <table class="table" style="margin-top: 30px;">
      <thead>
        <tr>
          <th>{% trans "Project" %}</th>
          <th>{% trans "Owner" %}</th>
          <th>{% trans "Status" %}</th>
          <th></th>
        </tr>
      </thead>
      {% for invitation in object_list %}
        <tr>
          <td>
            {% if invitation.status == 'accepted' %}
              <a href="{% url "project_detail" pk=invitation.project.pk %}">
            {% endif %}
            {{ invitation.project }}
            {% if invitation.status == 'accepted' %}
              </a>
            {% endif %}
          </td>
          <td>{{ invitation.project.owner.email }}</td>
          <td class="text-{% if invitation.status == 'accepted' %}success{% elif invitation.status == 'declined' %}danger{% endif %}">{{ invitation.get_status_display }}</td>
          <td>
            {% if invitation.status == 'pending' %}
              <a href="{% url "invitation_accept" pk=invitation.pk %}" class="btn btn-success">{% trans "Accept" %}</a>
              <a href="{% url "invitation_decline" pk=invitation.pk %}" class="btn btn-danger">{% trans "Decline" %}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>{% trans "You haven't received any invitations yet." %}</p>
  {% endif %}
{% endblock %}
