{% extends "projects/project_detail.html" %}
{% load i18n %}

{% block head_title %}{% blocktrans with name=label.name %}Delete {{ name }}{% endblocktrans %}{% endblock %}

{% block content %}
  <div style="margin-top: 0;" class="page-header">
    <h2 style="margin-top: 0;">{% blocktrans with name=label.name %}Delete {{ name }}{% endblocktrans %}</h2>
  </div>
  <form method="post" action=".">
    <p>{% trans "Are you sure to delete this label?" %}</p>
    {% include "django_libs/partials/form.html" %}
    <div style="margin-top: 10px;">
      <input class="btn btn-danger" type="submit" value="{% trans "Confirm" %}" />
    </div>
  </form>
{% endblock %}
