{% load i18n %}
<div class="form-group {% if form.errors %}has-error{% endif %}">
  <div class="input-group">
    <input class="form-control" name="name" type="text" placeholder="{% trans "Label" %}" value="{% if form.name.value %}{{ form.name.value }}{% elif label.pk %}{{ label.name }}{% endif %}" />
    {% if label.colour %}
      <div class="label-colour label-colour-form" style="background: {{ label.colour }};"></div>
    {% endif %}
    <span class="input-group-btn">
      <button class="btn btn-{% if label.pk %}primary{% else %}success{% endif %}" type="submit" data-action="{% if label.pk %}{% url "label_update" pk=label.pk %}{% else %}{% url "label_create" pk=project.pk %}{% endif %}">
        <span class="glyphicon glyphicon-{% if label.pk %}ok-sign{% else %}plus{% endif %}"></span>
      </button>
      {% if label.pk %}
        <a class="btn btn-danger" href="{% url "label_delete" pk=label.pk %}">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      {% endif %}
    </span>
  </div>
  {% if form.errors %}
    <span class="help-block">{% for field in form %}{{ field.errors }}{% if not forloop.last %}<br/>{% endif %}{% endfor %}</span>
  {% endif %}
</div>
{% if add_empty_form %}
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" name="name" type="text" placeholder="{% trans "Label" %}" value="" />
      <span class="input-group-btn">
        <button class="btn btn-success" type="submit" data-action="{% url "label_create" pk=project.pk %}">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </span>
    </div>
  </div>
{% endif %}
