{% extends "base.html" %}
{% load i18n libs_tags %}

{% block head_title %}{% if form.instance.pk %}{{ form.instance.name }}{% else %}{% trans "Create a project" %}{% endif %}{% endblock %}

{% block main %}
  <div class="page-header">
    <h1>{% if form.instance.pk %}{{ form.instance.name }} <small><a href="{% url "project_detail" pk=form.instance.pk %}">{% trans "View" %}</a></small>{% else %}{% trans "Create a new project" %}{% endif %}</h1>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group">
        <a href="{% url "project_create" %}" class="list-group-item {% navactive request "project_create" %} disabled">{% trans "Name" %}</a>
        <a href="{% if form.instance.pk %}{% url "project_info" pk=form.instance.pk %}{% else %}#{% endif %}" class="list-group-item {% navactive request "project_info" %} {% if not form.instance.pk %}disabled{% endif %}">{% trans "Info" %}</a>
        <a href="{% if form.instance.pk %}{% url "project_story" pk=form.instance.pk %}{% else %}#{% endif %}" class="list-group-item {% navactive request "project_story" %} {% if not form.instance.pk %}disabled{% endif %}">{% trans "Story" %}</a>
      </div>
    </div>
    <div class="col-sm-offset-1 col-sm-6">
      {% if step == 'create' %}
        <p class="lead">{% trans "Great project names are short and memorable" %}</p>
      {% elif step == 'story' %}
        <p class="lead">{% blocktrans with name=form.instance.name %}{{ name }} in a few words{% endblocktrans %}</p>
      {% endif %}
      <form method="post" action=".">
        {% include "django_libs/partials/form.html" %}
        <input class="btn btn-success" type="submit" value="{% if form.instance.pk %}{% trans "Update" %}{% else %}{% trans "Start" %}{% endif %}" />
      </form>
    </div>
  </div>
{% endblock %}
