{% extends "base.html" %}
{% load i18n libs_tags project_tags %}

{% block head_title %}{{ project.name }}{% endblock %}

{% block main %}
  {% block top %}{% endblock %}
  <div class="row">
    <div class="col-sm-4">
      <div data-affix="true">
        <div class="panel panel-default" style="margin-bottom: 0;">
          <div class="panel-heading"><h3 class="panel-title"><a href="{% url "project_detail" pk=project.pk %}">{{ project.name }}</a></h3></div>
          <ul class="list-group">
            {% if project.deadline %}
              <li class="list-group-item">{% trans "Type" %}<span class="badge">{{ project.get_type_display }}</span></li>
            {% endif %}
            {% if project.deadline %}
              <li class="list-group-item">{% trans "Purpose" %}<span class="badge">{{ project.get_purpose_display }}</span></li>
            {% endif %}
            {% if project.deadline %}
              <li class="list-group-item">{% trans "Deadline" %}<span class="badge">{{ project.deadline|date }}</span></li>
            {% endif %}
            <li class="list-group-item">{% trans "Owner" %}<span class="badge">{{ project.owner.email }}</span></li>
            {% if project.deadline %}
              <li class="list-group-item"><small>{{ project.description|linebreaks }}</small></li>
            {% endif %}
          </ul>
          {% if not hide_label_forms and request.user == project.owner %}
            <form data-class="label-form" action="." method="post" style="height:250px;overflow:auto;">
              {% csrf_token %}
              <div class="panel-body">
                {% for label in project.labels.all %}
                  {% include "projects/label_form.html" with label=label %}
                {% endfor %}
                {% include "projects/label_form.html" with project=project %}
              </div>
            </form>
          {% endif %}
          {% if request.user == project.owner %}
            <div class="panel-footer">
              <a class="btn btn-info" href="{% url "project_info" pk=project.pk %}">{% trans "Update" %}</a>
              <a class="btn btn-primary" href="{% url "project_detail" pk=project.pk %}">{% trans "Files & Labels" %}</a>
              <a class="btn btn-default" href="{% url "invitation_create" project_pk=project.pk %}">{% trans "Invite labellers" %}</a>
            </div>
          {% endif %}
        </div>

        {% block left %}{% endblock %}
      </div>
    </div>
    <div class="col-sm-8">
      {% block content %}
        {% if request.user == project.owner %}
          <!-- The file upload form used as target for the file upload widget -->
          <form id="fileupload" data-json-url="{% url "file_json" pk=project.pk %}" method="post" action="{% url "file_create" project_pk=project.pk %}" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Redirect browsers with JavaScript disabled to the origin page -->
            <!--<noscript><input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/"></noscript>-->
            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
            <div class="fileupload-buttonbar">
              <p class="lead">{% trans "Drag & drop your files here." %}</p>
              <!-- The fileinput-button span is used to style the file input field as button -->
              <span class="btn btn-success fileinput-button">
                <span>{% trans "Add file(s)" %}</span>
                <input type="file" name="file" multiple>
              </span>
              <!-- The loading indicator is shown during file processing -->
              <span class="fileupload-loading"></span>
              {% comment %}
                <!-- The global progress information -->
                <div class="fileupload-progress pull-right">
                  <!-- The global progress bar -->
                  <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                  </div>
                  <!-- The extended global progress information -->
                  <div class="progress-extended">&nbsp;</div>
                </div>
              {% endcomment %}
            </div>
            <!-- The table listing the files available for upload/download -->
            <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
          </form>
        {% else %}
          <div style="margin-top: 0;" class="page-header">
            <h2 style="margin-top: 0;">{% trans "Files" %}</h2>
          </div>
          {% if project.files.all %}
            <table role="presentation" class="table table-striped">
              <tbody>
                {% for file in project.files.all %}
                  <tr>
                    <td>
                      <p class="name">
                        <a href="{{ file.file.url }}" title="{{ file.get_name }}" download="{{ file.get_name }}">{{ file.get_name }}</a>
                      </p>
                    </td>
                    <td>
                      <span class="size">{{ file.file.size|filesizeformat }}</span>
                    </td>
                    <td class="text-right">
                      <a class="btn btn-warning" href="{% url "file_label" pk=file.pk %}">
                        <span>{% trans "Start labelling" %}</span>
                      </a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <em>{% trans "The project owner hasn't added any files yet. Please stand by." %}</em>
          {% endif %}
        {% endif %}
      {% endblock %}
    </div>
  </div>
  {% upload_js %}
{% endblock %}
