{% extends "base.html" %}
{% load i18n %}

{% block main %}
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <h1>{% trans "Oops, page not found." %}</h1>
            <p>{% trans "This is a so called 404 error. It means that the page that you requested could not be found." %}</p>
        </div>
    </div>
{% endblock %}
