{% extends "base.html" %}
{% load i18n %}

{% block main %}
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <h1>{% trans "Oops, something isn't working right." %}</h1>
            <p>{% trans "Right this second, we're diving in to get it fixed." %}</p>
        </div>
    </div>
{% endblock %}
