{% load i18n compress staticfiles libs_tags annotate_tags %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block head_title %}Labelling data{% endblock %} &bull; annotate</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow">
  <meta name="msapplication-config" content="none"/>
  {% compress css %}
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/libs/bootstrap3-modal.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/libs/bootstrap-datetimepicker.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/libs/jquery-ui-1.10.3.custom.min.css" %}" rel="stylesheet" />
    <link href="{% static "contact_form/css/contact_form.css" %}" type="text/css" media="all" rel="stylesheet" />
    {% comment %}}<link href="{% static "css/warnings.css" %}" rel="stylesheet" media="screen">{% endcomment %}
  {% endcompress %}
  <link rel="stylesheet" href="{% static "css/libs/blueimp-gallery.min.css" %}">
  <link rel="stylesheet" href="{% static "css/libs/jquery.fileupload-ui.css" %}">
  <noscript><link rel="stylesheet" href="{% static "css/libs/jquery.fileupload-ui-noscript.css" %}"></noscript>
  {% block extrahead %}{% endblock %}

  <link rel="shortcut icon" type="image/x-icon" href="{% static "favicon.ico" %}">
  <!-- https://developer.apple.com/library/safari/documentation/appleapplications/reference/safariwebcontent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
  <link rel="apple-touch-icon" href="{% static "touch-icon-iphone.png" %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static "touch-icon-ipad.png" %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static "touch-icon-iphone-retina.png" %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static "touch-icon-ipad-retina.png" %}">

  <!-- Facebook Open Graph data -->
  <meta property="fb:app_id" content="your-app-id" />
  <meta property="og:title" content="{% block og_title %}annotate{% endblock %}" />
  <meta property="og:description" content="{% block og_description %}{% endblock %}" />
  <meta property="og:site_name" content="{% block og_site_name %}annotate{% endblock %}" />
  <meta property="og:image" content="{% block og_image %}{% endblock %}" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="{% block og_type %}website{% endblock %}" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
        <script src="{% static "js/libs/html5shiv.js" %}"></script>
        <script src="{% static "js/libs/respond.min.js" %}"></script>
        <script src="{% static "js/libs/modernizr.js" %}"></script>
    <![endif]-->
</head>
<body>
{% include "partials/noscript_warning.html" %}
<header class="navbar navbar-inverse navbar-static-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">{% trans "Toggle navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand"><img style="max-height: 100%;" src="{% static "img/logo.png" %}" alt="annotate" /></a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        {% if not request.user.is_authenticated %}
          <li class="{% navactive request 'about' %}">
            <a href="{% url "about" template='why' %}">{% trans "Why Ann?" %}</a>
          </li>
        {% endif %}
        <li class="{% navactive request 'contact_form' %}">
          <a href="{% url "contact_form" %}">{% trans "Support" %}</a>
        </li>
        {% if request.user.is_authenticated %}
          <li class="dropdown">
            {% get_user_name request.user as user_name %}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user_name }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="{% navactive request "profile" %}"><a href="{% url "profile" %}">{% trans "My projects" %}</a></li>
              <li class="{% navactive request "invitation_list" %}"><a href="{% url "invitation_list" %}">{% trans "My invitations" %}</a></li>
              <li role="separator" class="divider"></li>
              <li class="{% navactive request "account_logout" %}"><a href="{% url "account_logout" %}">{% trans "Sign out" %}</a></li>
              {% if request.user.is_impersonate %}
                <li><a href="{% url "impersonate-stop" %}?next={% url "impersonate-search" %}">{% trans "Stop impersonation" %}</a></li>
              {% elif request.user.is_staff %}
                <li><a href="{% url "impersonate-search" %}">{% trans "Impersonate" %}</a></li>
              {% endif %}
            </ul>
          </li>
          <li class="{% navactive request 'project_create' %}">
            <a style="padding-top: 5px; padding-bottom: 5px;" class="btn btn-default navbar-btn" href="{% url "project_create" %}">{% trans "Create a project" %}</a>
          </li>
        {% else %}
          <li class="{% navactive request 'account_login' %}">
            <a href="{% url "account_login" %}">{% trans "Login" %}</a>
          </li>
          <li class="{% navactive request 'account_signup' %}">
            <a style="padding-top: 5px; padding-bottom: 5px;" class="btn btn-default navbar-btn" href="{% url "account_signup" %}">{% trans "Join as a labeller" %}</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>

{% if messages %}
  <div class="container">
    {% for message in messages %}
      <div class="alert {{ message.tags }} fade in">
        <button class="close" data-dismiss="alert">×</button>
        {{ message|safe }}
      </div>
    {% endfor %}
  </div>
{% endif %}

{% block main_container %}
  <div class="container" data-id="main-container">
    <div class="row">
      <div class="col-md-12">
        {% block main %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}

<footer {% block footer_extra %}{% endblock %}>
  <div class="container">
    <hr />
    <div class="row">
      <div class="col-sm-3">
        <h4>{% trans "Company" %}</h4>
        <ul class="list-unstyled">
          <li><a href="{% url "about" template="about" %}">{% trans "About" %}</a></li>
          <li><a href="{% url "about" template="team" %}">{% trans "Team" %}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h4>{% trans "Overview" %}</h4>
        <ul class="list-unstyled">
          <li><a href="{% url "about" template="why" %}">{% trans "Why Ann?" %}</a></li>
          <li><a href="{% url "about" template="speed" %}">{% trans "Labelling speed" %}</a></li>
          <li><a href="{% url "about" template="community" %}">{% trans "Labeller community" %}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h4>{% trans "Support" %}</h4>
        <ul class="list-unstyled">
          <li><a href="{% url "contact_form" %}">{% trans "Help" %}</a></li>
          <li><a href="{% url "about" template="faq" %}">{% trans "FAQ" %}</a></li>
          <li><a href="{% url "about" template="terms" %}">{% trans "Terms of Service" %}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <p style="margin-top: 7px;">&copy; {% now "Y" %} SUTD StatNLP</p>
      </div>
    </div>

  </div>
</footer>

<div id="ajax-modal" class="modal hide fade" tabindex="-1"></div>

{% comment %}Libs that are common and should be served via CDN and should not be compressed{% endcomment %}
<script src="{% static "js/libs/jquery-1.9.1.js" %}"></script>
<script src="{% static "js/libs/jquery-ui-1.10.3.custom.min.js" %}"></script>
<script src="{% url "javascript_catalog" %}"></script>

{% comment %}Libs that will change and should be compressed{% endcomment %}
{% compress js %}
  <script src="{% static "js/libs/bootstrap.min.js" %}"></script>
  <script src="{% static "js/libs/bootstrap-datetimepicker.min.js" %}"></script>
  <script src="{% static "js/libs/bootstrap3-modal.js" %}"></script>
  <script src="{% static "js/libs/bootstrap3-modalmanager.js" %}"></script>
  <!-- The Templates plugin is included to render the upload/download listings -->
  <script src="{% static "js/libs/tmpl.min.js" %}"></script>
  <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
  <script src="{% static "js/libs/load-image.min.js" %}"></script>
  <!-- The Canvas to Blob plugin is included for image resizing functionality -->
  <script src="{% static "js/libs/canvas-to-blob.min.js" %}"></script>
  <!-- blueimp Gallery script -->
  <script src="{% static "js/libs/jquery.blueimp-gallery.min.js" %}"></script>
  <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
  <script src="{% static "js/libs/jquery.iframe-transport.js" %}"></script>
  <!-- The basic File Upload plugin -->
  <script src="{% static "js/libs/jquery.fileupload.js" %}"></script>
  <!-- The File Upload processing plugin -->
  <script src="{% static "js/libs/jquery.fileupload-process.js" %}"></script>
  <!-- The File Upload image preview & resize plugin -->
  <script src="{% static "js/libs/jquery.fileupload-image.js" %}"></script>
  <!-- The File Upload audio preview plugin -->
  <script src="{% static "js/libs/jquery.fileupload-audio.js" %}"></script>
  <!-- The File Upload video preview plugin -->
  <script src="{% static "js/libs/jquery.fileupload-video.js" %}"></script>
  <!-- The File Upload validation plugin -->
  <script src="{% static "js/libs/jquery.fileupload-validate.js" %}"></script>
  <!-- The File Upload user interface plugin -->
  <script src="{% static "js/libs/jquery.fileupload-ui.js" %}"></script>
  <!-- The File Upload jQuery UI plugin -->
  <script src="{% static "js/libs/jquery.fileupload-jquery-ui.js" %}"></script>
  <script src="{% static "js/libs/spin.min.js" %}"></script>
  <script src="{% static "js/libs/jquery.spin.js" %}"></script>
  <script src="{% static "django_libs/js/modals.js" %}"></script>
  <script src="{% static "js/libs/holder.js" %}"></script>
  <script src="{% static "js/libs/jquery.autogrow-textarea.js" %}"></script>
  <script src="{% static "django_libs/js/getcookie.js" %}"></script>
  <script src="{% static "js/warnings.js" %}"></script>
  <script src="{% static "js/general.js" %}"></script>
  <script src="{% static "js/annotation.js" %}"></script>
{% endcompress %}

{% comment %}Extra js should not be compressed{% endcomment %}
{% block extrajs %}{% endblock %}

{% comment %}Further initialisations on sub pages. Should not be compressed{% endcomment %}
{% block extrascript %}{% endblock %}
</body>
</html>
